################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SemesterCSProj/bin/Debug
/.vs/SemesterCSProj.slnx/FileContentIndex/2b6f791f-b96a-45a1-b2df-f917a487a8b8.vsidx
/.vs/SemesterCSProj.slnx/FileContentIndex
