################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SemesterCSProj/bin/Debug
/.vs/SemesterCSProj.slnx/FileContentIndex/2b6f791f-b96a-45a1-b2df-f917a487a8b8.vsidx
/.vs/SemesterCSProj.slnx/FileContentIndex
/SemesterCSProj/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SemesterCSProj/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SemesterCSProj/obj/Debug/SemesterCSProj.csproj.AssemblyReference.cache
/SemesterCSProj/obj/Debug/SemesterCSProj.exe
/SemesterCSProj/obj/Debug/SemesterCSProj.pdb
/.vs/SemesterCSProj.slnx/v18/.suo
/.vs/SemesterCSProj.slnx/v18/DocumentLayout.backup.json
/.vs/SemesterCSProj.slnx/v18/DocumentLayout.json
/SemesterCSProj/obj/Debug/SemesterCSProj.csproj.CoreCompileInputs.cache
